server:
  port: 8096
spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5432/mydatabase
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    org.springframework.security: trace

url:
  user-service-url: http://localhost:8910
  menu-service-url: http://localhost:8080

jwt:
  secret: hits2025972303hits2025972303hits20259723032025hits
  lifetime: 30m