version: '3.8'

services:
  users_db:
    container_name: users_db_iso
    image: postgres:15
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=food_users_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - isolate-app-network

volumes:
  db-data:

networks:
  isolate-app-network:
    driver: bridge