version: '3.8'

services:
  app:
#    build:
#      context: .
#      dockerfile: user-service/Dockerfile
    image: user-image:latest
    ports:
      - '8910:8910'
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/food_users_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    depends_on:
      - db
    networks:
      - app-network

  db:
    container_name: users_db
    image: postgres:15
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=food_users_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    external: true